
Serveur_Local/.idea/modules/Serveur_Local_main.iml
Serveur_Local/.idea/workspace.xml
Serveur_Local/.gradle/buildOutputCleanup/outputFiles.bin
Serveur_Local/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Serveur_Local/.gradle/4.8/taskHistory/taskHistory.lock
Serveur_Local/.gradle/4.8/taskHistory/taskHistory.bin
Serveur_Local/.gradle/4.8/fileHashes/fileHashes.lock
Serveur_Local/.gradle/4.8/fileHashes/fileHashes.bin
