<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.Annonce_Book_Mapper">

  <insert id="insertAnnonce_Book" parameterType="Annonce_book">

    INSERT INTO ad(ad_id,item_id, cip, type_ad_id, title, description_ad,price,contact )
    VALUES (DEFAULT,#{categorie},#{cip}, #{type_ad_id}, #{titre_annonce}, #{description},#{price},#{contact});

    </insert>
</mapper>
