<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.Annonce_Book_Mapper">

  <insert id="insertAnnonce_Book" parameterType="Annonce_book">



    select new_annoncebookinsert(#{cip}, #{type_ad_id}, #{titre_annonce},#{description},#{prix},#{contact},#{auteur},#{ISBN},#{edition},#{titre},#{course_id}) ;

    </insert>

  <delete id="deleteAnnonce_Book" parameterType="Annonce_book">



    select delete_annonce(#{cip}, #{annonce_id}) ;

    </delete>
</mapper>
